$card-header-font: 24px;
$card-header-height: 64px;

.card{
    text-align: center;
    font-family: 'Futura', sans-serif;
    background-color: #fafafa;
    border-style: solid;
    border-color: #cecece;
    margin: 10px;
    height: 450px;
    min-width: 200px;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_professor{
    text-align: left;
    color: #5dadf7;
    margin: auto 20px;
    font-size: 16px;
    height: 5%;
    margin-top: 20px;
    overflow-y: hidden;
}

.card_research-group{
    text-align: left;
    font-weight: bold;
    margin: 2px 20px 15px 20px;
    font-size: $card-header-font;
   height: $card-header-height;
   text-overflow: ellipsis;
   overflow-y: hidden;
}

.card_content{
    text-align: left;
    font-weight: 100;
    margin: 2px 20px;
    font-size: 14px;
    height: 50%;
    color: #888888;
    text-overflow: ellipsis;
}

.card_courses{
  text-align: left;
  margin: 0px 20px 20px 20px;
  font-size: 14px;
  font-weight: 100;
    color: #888888;
}
.card_courses p{
    margin:0px;
    color: #5dadf7;
    font-size: 14px;
}

.card hr {
    border: none;
    height: 3px;
    background-color: #cecece; 
}

p { 
  margin:0px;
}

.card_courses li:before {
  content: "\002b";
}

.card_courses ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card{
        width: auto;
    }
} 

/* Medium devices (landscape tablets, 768px(868) and up) */
@media only screen and (min-width: 868px) {
    .card{
        width: 45%;
    }
} 

/* Large devices (laptops/desktops, 992px(1296) and up) */
@media only screen and (min-width: 1296px) {
    .card{
        width: 22%;
        margin: 1%;
    }
    .card_research-group {
        min-height: 80px;
    }
} 

