/* Extra small devices (phones, 600px and down) */
$bp-x-small: 600px;

/* Small devices (portrait tablets and large phones, 600px and up) */
$bp-small: 600px;

/* Medium devices (landscape tablets, 768px(868) and up) */
$bp-med: 868px;

/* Large devices (laptops/desktops, 992px(1196) and up) */
$bp-large: 1196px;