@import '~pretty-checkbox/src/pretty-checkbox.scss';

.opacity-invisible {
  opacity: 0;
  pointer-events: none;
}
.opacity-visible {
  opacity: 1;
}
.filter {
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  left: 0px;
  right:0px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.dropdown{
  position: absolute;
  z-index: 50;
  top: 162px;
  width: 326px;
  margin-left: -163px;
  min-height: 5vh;
  background-color: white;
  
}
.mobile-dropdown {
    position: absolute;
    z-index: 50;
    top: 141px;
    left: 0px;
    right: 0px;
    background-color: white;

}
.filter-group {
  width: 350px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 50;
  height: 100%;
  
}
.filter-group:hover {
  opacity: 1;
}
.clear {
  font-size: calc(5px + 1vmin);
  font-weight: 600;
  color: deepskyblue;
  padding: 10px;
}
.clear:hover {  
  color: dodgerblue;
  cursor: pointer;
}
  .header-title {
    font-size: calc(12px + 1vmin);
    font-weight: 600;
    margin-left: 1rem;

  }
  .dropdown-wrapper {
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;

  }
  .header {
    color:black;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center

  }
  .icon {
    position: absolute;
    z-index: 10;
    right:25px;
    top:15px;
  }
  .icon:hover {
    cursor: pointer;
  }
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
  }
  .list-item-container {
    height: 35px;
    flex-direction: row;
    align-items: center;
  }
