  
  .header-title {
    font-size: calc(8px + 1vmin);
    font-weight: 600;
    margin-left: 1rem;
  }
  
  .wrapper {
    background-color: white;
    min-height: 50vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    color:black;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center

  }
  .icon {
    margin-left: 1rem;
  }
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .list-item-container {
    height: 35px;
    flex-direction: row;
    align-items: center;
  
  }
  