@import "../../styles/vars.scss";
@import "../../styles/fonts.scss";
@import "../../styles/breakpoints.scss";

.modal-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    text-align: center;

    .modal{
        display: inline-block;
        margin: 120px;
        padding: 20px;
        background: #fff;
        overflow: auto;
        width: auto;
        height: auto;
        border: 0.8px solid $gray3;
        text-align: center;
        padding: 0.2vw 1vw;
        background-color: $gray-background;
        opacity: 100%;
        border-radius: 5px;
        font-size: 10pt;
        p {
            padding: 2px;
        }
        .button-wrapper{
            width:100%;
            text-align: right;
            float: right;
            margin-top: 1%;
        }
        
        .close-button{
            float: right;
            width:20px;
            height: 20px;
            background-color: white;
            text-align: center;
        }

        .close-button:hover{
            background-color: $gray2;
        }
    }   
}

.inline-modal-wrapper{
    position: absolute;
    height: auto;
    width: auto;
    // z-index: 1000;
    overflow: auto;
    text-align: center;
    -webkit-transform: translate(-50%, -50%); /*Webkit*/
    -ms-transform: translate(-50%, -50%); /*IE, Edge*/
    -moz-transform: translate(-50%, -50%); /*Firefox*/
    transform: translate(-50%, -50%);

    .modal{
        display: inline-block;
        margin: 0px;
        padding: 20px;
        background: #fff;
        overflow: auto;
        width: auto;
        height: auto;
        border: 0.8px solid $gray3;
        text-align: center;
        padding: 0.2vw 1vw;
        background-color: $gray-background;
        opacity: 100%;
        border-radius: 5px;
        font-size: 10pt;
        p {
            padding: 2px;
        }

        .button-wrapper{
            width:100%;
            text-align: right;
            float: right;
            margin-top: 1%;
        }
        
        .close-button{
            float: right;
            width:20px;
            height: 20px;
            background-color: white;
            text-align: center;
        }

        .close-button:hover{
            background-color: $gray2;
        }
    }   
}


.modal-filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.80;    
    z-index: 900;

    #list{
        background-color: #fff;
        opacity: 0; 
    }
}

body.modal-visible-entire-screen{
    overflow-y: hidden;
}