#navbar {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 180px;
    width: 100%;
}

#title {
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    top: 5%;
    left: 2%;
}

#logo {
    position: absolute;
    top: 20%;
    right: 3%;
    height: auto;
    width: auto;
}

#logo > img {
    height: 60px;
    width: auto;
}

#menu {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-item {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: white;
    opacity: 1;
}

.menu-item a:hover {
    color: rgb(145, 182, 229);
}

#toggleButton {
    display: none;
}

#title-mobile {
    background-color: black;
    top: 0%;
    width: 100%;
    height: 20vw;
    font-size: 2vw;
    text-align: left;
    position: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
    z-index: 25;
}
#title-mobile h1 {
    top: 12%;
    left: 5%;
    position: absolute;
}
#menu-mobile {
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.80;
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    position: absolute;
    display: flex;
    transition: 1s;
    z-index: 24;
}
#menu-item-wrapper-mobile {
    position: absolute;
    top: 25vw;
    transition: 1s;
}
.menu-item-mobile {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;  
    font-weight: bold;
    text-align: left;
    margin: 0 20px;
    padding: 20px;
}
.menu-item-mobile a:hover {
    color: rgb(145, 182, 229);
}
#toggleButton {
    display: inline-block;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
    font-family: 'Monteserrat', sans-serif;
    position: fixed;
    width: 20vw;
    height: 20vw;
    top: 0%;
    right: 0px;
    z-index: 26;
}
    
