@import "../../styles/breakpoints.scss";
@import "../../styles/vars.scss";

.page{
    margin-top: $navbar-height; //This is to account for the height of the NavBar
}

@media only screen and (max-width: $bp-med) {
    .page{
        margin-top: 80px;
        width: 100vw;
    }
}