#navbar {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 180px;
    width: 100%;
}

#title {
    position: absolute;
    color: white;
    font-family: 'Nunito', sans-serif;
    top: 5%;
    left: 2%;
}

#logo {
    position: absolute;
    top: 20%;
    right: 3%;
    height: auto;
    width: auto;
}

#logo > img {
    height: 60px;
    width: auto;
}

#menu {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-item {
    font-family: 'Nunito', sans-serif;    
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.menu-item a:hover {
    color: rgb(145, 182, 229);
}

@media screen and (max-width: 800px) {
    #navbar {
        height: 22.5vw;
    }
    #logo {
        height: 7.5vw;
    }
    #logo > img {
        height: 100%;
    }
    #title {
        font-size: 2vw;
    }
    .menu-item {
        font-size: 2vw;
    }
}